@import "topcoat-variables-shared";
@import "topcoat-variables-mobile";
@import "topcoat-variables-light";
@import "topcoat-fonts";

body {
	margin: 0;
	padding: 0;
	background: var(background--body);
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
